[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-migrate = "*"
werkzeug = "*"
flask-wtf = "*"
flask-uploads = "*"
flask-bootstrap = "*"
psycopg2 = "*"
gunicorn = "*"
flask-script = "==2.0.5"
python-dotenv = "*"
requests = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
