{% macro display(blogs) %}
<div class="container-fluid">
    <div class="row">
        {% if blogs %} {% for blog in blogs %}
        <div class="col-md-4">
            <div class="thumbnail border rounded" id="carded">
                <h6 class="card-header text-center">{{blog.title}}</h6>
                <div class="card-body">
                    <p>{{blog.post}}</p>
                    <footer class="blockquote-footer text-center">
                        Posted by: {{blog.user.username}}
                    </footer>
                    <div>
                        <span class="foot">{{blog.comment.count()}} Comments</span>
                    </div>
                    <a href="{{url_for('main.comment',blog_id = blog.id)}}" class="btn btn-outline-info btn-sm mt-3 d-block">
            Leave Comment</a>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="card w-90 mb-3">
            <div class="card-body">
                <p class="card-title">Nothing posted yet</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}